nav{
    background-color: $bgcolor;
    ul{
        display: flex;
        justify-content: space-evenly;   
        list-style: none;
        margin: 10px;
        padding: 0.5rem;
        li{
            position: relative;
            font-size: 1.3rem;
            margin:auto;
            list-style-type: none;
            &:hover{
                transform: scale(1.2, 1.2);
                transition: 0.5s
            }
            a{
                text-decoration: none;
                color: $color_a;
                &:hover{
                    color: blue;
                }
                img{
                    width: 200px;
                    animation-duration: 2s;
                    animation-name: aparecer;
                    animation-iteration-count: initial;
                }
            }
        }
    }
}