$bgcolor:#ffffff;
$color_a: #270d0db6;
$h1color: #2525be;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: $bgcolor;
    ul{
        display: flex;
        justify-content: space-evenly;   
        list-style: none;
        margin: 10px;
        padding: 0.5rem;
        li{
            position: relative;
            font-size: 1.3rem;
            margin:auto;
            list-style-type: none;
            &:hover{
                transform: scale(1.2, 1.2);
                transition: 0.5s
            }
            a{
                text-decoration: none;
                color: $color_a;
                &:hover{
                    color: blue;
                }
                img{
                    width: 200px;
                    animation-duration: 2s;
                    animation-name: aparecer;
                    animation-iteration-count: initial;
                }
            }
        }
    }
}
main{
    background-color: black;
    h1{
        color: $h1color;
    }
    p{
        color: $bgcolor;
    }
}

footer{
    background-color: $bgcolor;
    h2{
        text-align: center;
        font-size: 1.2rem;
        color: $h1color;
        padding: 5px;
        margin: 19px;
    }
}

